
/* General Styles */

.container {
    padding: 100px 20px 100px 20px;
}

section {
    
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
}

* {
    color: #6a6a6a;
    background-color: transparent;
}


/* Navbar */
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
  }

.nav-item {
    margin:  10px;
    background-color: rgb(255,255,255,0.3);
}

.nav-link i {
    color: #000000;
    font-size: 25px;
}

.active i {
    font-weight: 900;
}


/* About */

#about {
    background-image: url('asset/img/Background.jpeg');
}

.jumbotron {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
}

/* Education */

#education {
    background-image: url('asset/img/bg-education.jpg');
}

#education img {
    max-width: 500px;
}

/* Skills */

#skills {
    background-image: url('asset/img/bg-skills.jpg');
}

#skills p,
#skills .card-text {
    text-align: center;
}

#skills img {
    width: 80px;
    height: 80px;
}

#skills .card-body div {
    margin: 10px;
}

/* Projects */

#projects {
    background-image: url('asset/img/bg-projects.jpg');
}

.carousel-caption {
    color: #6a6a6a;
    background-color: rgba(255, 255, 255, 0.7);
}


/* Resume */

#resume {
    background-image: url('asset/img/bg-resume.jpg');
}

#resume img {
    height: 150px;
}

#resume .card {
    padding: 20px;
}

/* Contact */

#contact {
    background-image: url('asset/img/bg-contact.jpg');
}








